DotNetCoreMasters/DomainModel/bin/Debug/netstandard2.1/DomainModel.deps.json
DotNetCoreMasters/DomainModel/bin/Debug/netstandard2.1/DomainModel.pdb
DotNetCoreMasters/DomainModel/obj/Debug/netstandard2.1/DomainModel.csproj.CoreCompileInputs.cache
DotNetCoreMasters/DomainModel/obj/Debug/netstandard2.1/DomainModel.csproj.FileListAbsolute.txt
DotNetCoreMasters/DomainModel/obj/Debug/netstandard2.1/DomainModel.csprojAssemblyReference.cache
DotNetCoreMasters/DomainModel/obj/Debug/netstandard2.1/DomainModel.pdb
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/DomainModel.pdb
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/DotNetCoreMasters.deps.json
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/DotNetCoreMasters.pdb
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Services.pdb
DotNetCoreMasters/DotNetCoreMasters/obj/Debug/netcoreapp3.1/DotNetCoreMasters.csproj.CoreCompileInputs.cache
DotNetCoreMasters/DotNetCoreMasters/obj/Debug/netcoreapp3.1/DotNetCoreMasters.csproj.FileListAbsolute.txt
DotNetCoreMasters/DotNetCoreMasters/obj/Debug/netcoreapp3.1/DotNetCoreMasters.csprojAssemblyReference.cache
DotNetCoreMasters/DotNetCoreMasters/obj/Debug/netcoreapp3.1/DotNetCoreMasters.pdb
DotNetCoreMasters/Services/bin/Debug/netstandard2.1/DomainModel.pdb
DotNetCoreMasters/Services/bin/Debug/netstandard2.1/Services.deps.json
DotNetCoreMasters/Services/bin/Debug/netstandard2.1/Services.pdb
DotNetCoreMasters/Services/obj/Debug/netstandard2.1/Services.assets.cache
DotNetCoreMasters/Services/obj/Debug/netstandard2.1/Services.csproj.CoreCompileInputs.cache
DotNetCoreMasters/Services/obj/Debug/netstandard2.1/Services.csprojAssemblyReference.cache
DotNetCoreMasters/DomainModel/obj/Debug/netstandard2.1/DomainModel.csproj.CoreCompileInputs.cache
DotNetCoreMasters/DomainModel/bin/Debug/netstandard2.1/DomainModel.pdb
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Services.pdb
DotNetCoreMasters/Services/obj/Debug/netstandard2.1/Services.pdb
DotNetCoreMasters/.vs/DotNetCoreMasters/DesignTimeBuild/.dtbcache.v2
DotNetCoreMasters/.vs/DotNetCoreMasters/v16/.suo
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/DotNetCoreMasters.dll
DotNetCoreMasters/DotNetCoreMasters/obj/Debug/netcoreapp3.1/DotNetCoreMasters.dll
DotNetCoreMasters/Repositories/obj/project.assets.json
DotNetCoreMasters/Repositories/obj/project.nuget.cache
DotNetCoreMasters/Repositories/obj/Repositories.csproj.nuget.dgspec.json
DotNetCoreMasters/Repositories/obj/Repositories.csproj.nuget.g.props
DotNetCoreMasters/Repositories/obj/Repositories.csproj.nuget.g.targets
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Repositories.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Repositories.pdb
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Services.dll
DotNetCoreMasters/Repositories/bin/Debug/netstandard2.1/Repositories.dll
DotNetCoreMasters/Repositories/bin/Debug/netstandard2.1/Repositories.pdb
DotNetCoreMasters/Repositories/obj/Debug/netstandard2.1/Repositories.csproj.CoreCompileInputs.cache
DotNetCoreMasters/Repositories/obj/Debug/netstandard2.1/Repositories.csproj.FileListAbsolute.txt
DotNetCoreMasters/Repositories/obj/Debug/netstandard2.1/Repositories.dll
DotNetCoreMasters/Repositories/obj/Debug/netstandard2.1/Repositories.pdb
DotNetCoreMasters/Services/bin/Debug/netstandard2.1/Repositories.dll
DotNetCoreMasters/Services/bin/Debug/netstandard2.1/Repositories.pdb
DotNetCoreMasters/Services/bin/Debug/netstandard2.1/Services.dll
DotNetCoreMasters/Services/obj/Debug/netstandard2.1/Services.dll
/DotNetCoreMasters/Repositories/obj/Debug/netstandard2.1/Repositories.csprojAssemblyReference.cache
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/System.Security.AccessControl.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/System.Security.Principal.Windows.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Security.AccessControl.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
DotNetCoreMasters/DomainModel/bin/Debug/netstandard2.1/DomainModel.dll
DotNetCoreMasters/DomainModel/obj/Debug/netstandard2.1/DomainModel.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/DomainModel.dll
DotNetCoreMasters/DotNetCoreMasters/obj/Debug/netcoreapp3.1/DotNetCoreMasters.assets.cache
DotNetCoreMasters/Services/bin/Debug/netstandard2.1/DomainModel.dll
DotNetCoreMasters/Repositories/bin/Debug/netcoreapp3.1/Repositories.deps.json
DotNetCoreMasters/Repositories/bin/Debug/netcoreapp3.1/Repositories.dll
DotNetCoreMasters/Repositories/bin/Debug/netcoreapp3.1/Repositories.pdb
DotNetCoreMasters/Repositories/bin/Debug/netcoreapp3.1/Repositories.runtimeconfig.dev.json
DotNetCoreMasters/Repositories/bin/Debug/netcoreapp3.1/Repositories.runtimeconfig.json
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Humanizer.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.Internal.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Core.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Identity.Stores.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/System.ComponentModel.Annotations.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
DotNetCoreMasters/Repositories/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DotNetCoreMasters/Repositories/obj/Debug/netcoreapp3.1/Repositories.AssemblyInfo.cs
DotNetCoreMasters/Repositories/obj/Debug/netcoreapp3.1/Repositories.AssemblyInfoInputs.cache
DotNetCoreMasters/Repositories/obj/Debug/netcoreapp3.1/Repositories.assets.cache
DotNetCoreMasters/Repositories/obj/Debug/netcoreapp3.1/Repositories.csproj.CoreCompileInputs.cache
DotNetCoreMasters/Repositories/obj/Debug/netcoreapp3.1/Repositories.csproj.FileListAbsolute.txt
DotNetCoreMasters/Repositories/obj/Debug/netcoreapp3.1/Repositories.csprojAssemblyReference.cache
DotNetCoreMasters/Repositories/obj/Debug/netcoreapp3.1/Repositories.dll
DotNetCoreMasters/Repositories/obj/Debug/netcoreapp3.1/Repositories.genruntimeconfig.cache
DotNetCoreMasters/Repositories/obj/Debug/netcoreapp3.1/Repositories.pdb
DotNetCoreMasters/Services/bin/Debug/netcoreapp3.1/DomainModel.pdb
DotNetCoreMasters/Services/bin/Debug/netcoreapp3.1/Repositories.dll
DotNetCoreMasters/Services/bin/Debug/netcoreapp3.1/Repositories.pdb
DotNetCoreMasters/Services/bin/Debug/netcoreapp3.1/Services.deps.json
DotNetCoreMasters/Services/bin/Debug/netcoreapp3.1/Services.dll
DotNetCoreMasters/Services/bin/Debug/netcoreapp3.1/Services.pdb
DotNetCoreMasters/Repositories/Migrations/20210724172920_Initial.cs
DotNetCoreMasters/Repositories/Migrations/20210724172920_Initial.Designer.cs
DotNetCoreMasters/Repositories/Migrations/DotNetCoreDBContextModelSnapshot.cs
DotNetCoreMasters/Services/bin/Debug/netcoreapp3.1/DomainModel.dll
DotNetCoreMasters/Services/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DotNetCoreMasters/Services/obj/Debug/netcoreapp3.1/Services.AssemblyInfo.cs
DotNetCoreMasters/Services/obj/Debug/netcoreapp3.1/Services.AssemblyInfoInputs.cache
DotNetCoreMasters/Services/obj/Debug/netcoreapp3.1/Services.assets.cache
DotNetCoreMasters/Services/obj/Debug/netcoreapp3.1/Services.csproj.CopyComplete
DotNetCoreMasters/Services/obj/Debug/netcoreapp3.1/Services.csproj.CoreCompileInputs.cache
DotNetCoreMasters/Services/obj/Debug/netcoreapp3.1/Services.csproj.FileListAbsolute.txt
DotNetCoreMasters/Services/obj/Debug/netcoreapp3.1/Services.csprojAssemblyReference.cache
DotNetCoreMasters/Services/obj/Debug/netcoreapp3.1/Services.dll
DotNetCoreMasters/Services/obj/Debug/netcoreapp3.1/Services.pdb
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/appsettings.json
DotNetCoreMasters/DotNetCoreMasters/obj/DotNetCoreMasters.csproj.nuget.dgspec.json
DotNetCoreMasters/DotNetCoreMasters/obj/DotNetCoreMasters.csproj.nuget.g.props
DotNetCoreMasters/DotNetCoreMasters/obj/DotNetCoreMasters.csproj.nuget.g.targets
DotNetCoreMasters/DotNetCoreMasters/obj/project.assets.json
DotNetCoreMasters/DotNetCoreMasters/obj/project.nuget.cache
DotNetCoreMasters/Services/obj/project.assets.json
DotNetCoreMasters/Services/obj/project.nuget.cache
DotNetCoreMasters/Services/obj/Services.csproj.nuget.dgspec.json
DotNetCoreMasters/Services/obj/Services.csproj.nuget.g.props
DotNetCoreMasters/Services/obj/Services.csproj.nuget.g.targets
DotNetCoreMasters/.vs/DotNetCoreMasters/DesignTimeBuild/.dtbcache
DotNetCoreMasters/Services/obj/Services.csproj.nuget.cache
DotNetCoreMasters/DotNetCoreMasters/obj/DotNetCoreMasters.csproj.nuget.cache
DotNetCoreMasters/DotNetCoreMasters/obj/Debug/netcoreapp3.1/DotNetCoreMasters.csproj.AssemblyReference.cache
DotNetCoreMasters/DomainModel/obj/DomainModel.csproj.nuget.cache
DotNetCoreMasters/.vs/DotNetCoreMasters/v15/Server/sqlite3/storage.ide
DotNetCoreMasters/.vs/DotNetCoreMasters/v15/Server/sqlite3/db.lock
DotNetCoreMasters/.vs/DotNetCoreMasters/v15/.suo
DotNetCoreMasters/Services/obj/Debug/netcoreapp3.1/Services.csproj.AssemblyReference.cache
DotNetCoreMasters/Repositories/obj/Repositories.csproj.nuget.cache
DotNetCoreMasters/Repositories/obj/Debug/netcoreapp3.1/Repositories.csproj.AssemblyReference.cache
DotNetCoreMasters/DomainModel/obj/Debug/netstandard2.1/DomainModel.csproj.AssemblyReference.cache
DotNetCoreMasters/.vs/DotNetCoreMasters/v15/Server/sqlite3/storage.ide-wal
DotNetCoreMasters/.vs/DotNetCoreMasters/v15/Server/sqlite3/storage.ide-shm
DotNetCoreMasters/DotNetCoreMasters/obj/Debug/netcoreapp3.1/apphost.exe
DotNetCoreMasters/DotNetCoreMasters/obj/Debug/netcoreapp3.1/DotNetCoreMasters.genruntimeconfig.cache
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/DotNetCoreMasters.runtimeconfig.dev.json
DotNetCoreMasters/DomainModel/obj/DomainModel.csproj.nuget.dgspec.json
DotNetCoreMasters/DomainModel/obj/Debug/netstandard2.1/DomainModel.assets.cache
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/DotNetCoreMasters.exe
DotNetCoreMasters/DomainModel/obj/project.nuget.cache
DotNetCoreMasters/DomainModel/obj/project.assets.json
DotNetCoreMasters/DomainModel/obj/DomainModel.csproj.nuget.g.props
