DotNetCoreMasters/DomainModel/bin/Debug/netstandard2.1/DomainModel.deps.json
DotNetCoreMasters/DomainModel/obj/Debug/netstandard2.1/DomainModel.csproj.FileListAbsolute.txt
DotNetCoreMasters/DomainModel/obj/Debug/netstandard2.1/DomainModel.csprojAssemblyReference.cache
DotNetCoreMasters/DomainModel/obj/Debug/netstandard2.1/DomainModel.pdb
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/DomainModel.pdb
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/DotNetCoreMasters.deps.json
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/DotNetCoreMasters.pdb
DotNetCoreMasters/DotNetCoreMasters/obj/Debug/netcoreapp3.1/DotNetCoreMasters.csproj.CoreCompileInputs.cache
DotNetCoreMasters/DotNetCoreMasters/obj/Debug/netcoreapp3.1/DotNetCoreMasters.csproj.FileListAbsolute.txt
DotNetCoreMasters/DotNetCoreMasters/obj/Debug/netcoreapp3.1/DotNetCoreMasters.csprojAssemblyReference.cache
DotNetCoreMasters/DotNetCoreMasters/obj/Debug/netcoreapp3.1/DotNetCoreMasters.pdb
DotNetCoreMasters/Services/bin/Debug/netstandard2.1/DomainModel.pdb
DotNetCoreMasters/Services/bin/Debug/netstandard2.1/Services.deps.json
DotNetCoreMasters/Services/bin/Debug/netstandard2.1/Services.pdb
DotNetCoreMasters/Services/obj/Debug/netstandard2.1/Services.assets.cache
DotNetCoreMasters/Services/obj/Debug/netstandard2.1/Services.csproj.CoreCompileInputs.cache
DotNetCoreMasters/Services/obj/Debug/netstandard2.1/Services.csprojAssemblyReference.cache
DotNetCoreMasters/DomainModel/obj/Debug/netstandard2.1/DomainModel.csproj.CoreCompileInputs.cache
DotNetCoreMasters/DomainModel/bin/Debug/netstandard2.1/DomainModel.pdb
DotNetCoreMasters/DotNetCoreMasters/bin/Debug/netcoreapp3.1/Services.pdb
DotNetCoreMasters/Services/obj/Debug/netstandard2.1/Services.pdb
